 <!--<div class="col-md-12">
  <div class="card card-container">
    <img id="profile-img" class="card-img-top profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      alt="">
    <form action="" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="userName">Họ và tên</label>
        <input type="text" name="userName" id="userName" class="form-control" placeholder="Họ và tên"
          [(ngModel)]="form.userName" required minlength="3" #userName>
        <div class="alrt-danger" *ngIf="f.submitted && userName.invalid">
          <div *ngIf="userName.errors.required">
            Username is required!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="">Số điện thoại</label>
        <input type="tel" name="phoneEmail" id="phoneEmail" class="form-control" placeholder="Số điện thoại"
          [(ngModel)]="form.phoneEmail" required #phoneEmail>
        <div class="alert-danger" *ngIf="f.submitted && phoneEmail.invalid">
          <div *ngIf="phoneEmail.errors.required">
            Phone is required!
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Mật khẩu</label>
        <input type="password" name="password" id="passwird" class="form-control" placeholder="Mật khẩu"
          [(ngModel)]="form.password" required #password>
        <div class="alert-danger" *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">
            Password is required!
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Sign Up
        </button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Sign up failed! <br /> {{errorMessage}}
      </div>

      <div class="alert alert-success" *ngIf="isSuccessful">
        Your registration is successful!
      </div>
    </form>
  </div>
</div>-->

<!--<mat-tab-group dynamicHeight>
  <mat-tab label="Short tab">
    <form action="" [formGroup]="verifyPhoneForm" >
      <mat-form-field>
        <input matInput type="tel" placeholder="Phone number" name="phone" formControlName="phone" id="phone">
        <mat-error *ngIf="hasError('phone', 'required')">Phone is required!</mat-error>
        <mat-error *ngIf="hasError('phone', 'pattern')"></mat-error>
      </mat-form-field>
    </form>
  </mat-tab>
  <mat-tab label="Long tab">

  </mat-tab>
</mat-tab-group>-->

<div *ngIf="!isVerifyPhoneSuccess || !isVerifyEmailSuccess">
  <app-verify-phone (isVerify)="isVerify($event)" ></app-verify-phone>
</div>
<div *ngIf="!!isVerifyPhoneSuccess || !!isVerifyEmailSuccess">
  <div class="col-md-12">
    <div class="card card-container">
      <img id="profile-img" class="card-img-top profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
           alt="">
      <form action="" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="userName">Họ và tên</label>
          <input type="text" name="userName" id="userName" class="form-control" placeholder="Họ và tên"
                 [(ngModel)]="form.userName" required minlength="3" #userName>
          <div class="alrt-danger" *ngIf="f.submitted && userName.invalid">
            <div *ngIf="userName.errors.required">
              Username is required!
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Mật khẩu</label>
          <input type="password" name="password" id="passwird" class="form-control" placeholder="Mật khẩu"
                 [(ngModel)]="form.password" required #password>
          <div class="alert-danger" *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">
              Password is required!
            </div>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Sign Up
          </button>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          Sign up failed! <br/> {{errorMessage}}
        </div>

        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>
      </form>
    </div>
  </div>
</div>
