<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1">
      <div class="wrapper">
        <div class="sidebar">
          <div class="sidebar-menu">
            <ul class="list-group">
              <li class="list-group-item profile">
                <input
                  type="image"
                  (click)="modalService.open('modalUserInformation')"
                  src="../../assets/image/user.png"
                />
                <p *ngIf="isLoggedIn" style="color:white">{{user?.userName}}</p>
              </li>
              <li class="list-group-item item">
                <a href="#" class="menu-btn">
                  <i class="fa fa-comment-o"></i><span>Tin nhắn</span>
                </a>
              </li>
              <li class="list-group-item item">
                <a href="#" class="menu-btn">
                  <i class="fa fa-user-circle"></i><span>Danh bạ</span>
                </a>
              </li>
            </ul>
            <!-- <li class="profile">
              <input
                type="image"
                (click)="modalService.open('modalUserInformation')"
                src="../../assets/image/user1.png"
              />
            </li>
            <li class="item">
              <a href="#" class="menu-btn">
                <i class="fa fa-comment-o"></i><span>Tin nhắn</span>
              </a>
            </li>
            <li class="item" id="profile">
              <a href="#profile" class="menu-btn">
                <i class="fa fa-user-circle"></i><span>Danh bạ</span>
              </a>
            </li> -->
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-3 middleBar">
      <div class="list-message">
        <div class="mt-2">
          <h5>
            <img class="brandImage" src="../../assets/image/chat.png" alt="" />
            <span class="ml-5">Đinh Đăng Khoa </span>
          </h5>
        </div>
        <div class="mt-2 d-flex">
          <form class="flex-grow-1" action="">
            <div class="input-group">
              <input
                class="form-control"
                type="search"
                id="example-search-input"
                placeholder="Tìm kiếm bạn bè"
              />
              <span class="input-group-append">
                <button class="btn btn-outline-secondary">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
        <div class="mt-2">
          <button class="btn btn-outline-secondary btn-block">
            <img
              src="../../assets/image/collaboration.png"
              style="height: 30px; width: 30px; margin-right: 20px"
              alt=""
            />
            Tạo nhóm chat
          </button>
        </div>
        <br />
        <app-list-friend></app-list-friend>
      </div>
    </div> -->

    <!-- <div class="col-lg-8">
      <h5>
        <img class="brandImage" src="../../assets/image/user.png" alt="" />
        <span class="ml-5">Đinh Đăng Khoa </span>
      </h5>
      <br />
      <app-message></app-message>
      <br />
      <form class="flex-grow-1" action="">
        <div class="input-group">
          <span class="input-group-append">
            <button class="btn btn-outline-secondary">
              <i class="fa fa-file-image-o"></i>
            </button>
          </span>
          <span class="input-group-append">
            <button class="btn btn-outline-secondary">
              <i class="fa fa-picture-o"></i>
            </button>
          </span>
          <input
            class="form-control"
            type="search"
            id="example-search-input"
            placeholder="Nhập tin nhắn"
          />
          <span class="input-group-append">
            <button class="btn btn-outline-secondary">
              <i class="fa fa-paper-plane-o"></i>
            </button>
          </span>
        </div>
      </form>
    </div> -->
  </div>
</div>

<!-- Modal User-->
<jw-modal id="modalUserInformation">
  <div id="myModalInfo" class="mx-auto">
    <button
      class="close pr-2 py-2"
      (click)="modalService.close('modalUserInformation')"
    >
      &times;
    </button>
    <h5 id="userInformationHeader" class="col-11 py-2 pl-2">
      Thông tin người dùng
    </h5>
    <hr />
    <div id="userInformationBody" class="row">
      <h4 class="text-center col-12 my-2" id="userName">{{ user?.userName }}</h4>
      <p class="col-lg-6 pl-5 my-2">Điện thoại:</p>
      <p class="userPhoneNumber col-lg-6 my-2">{{ user?.phone }}</p>
      <p class="col-6 pl-5 my-2">Ngày sinh:</p>
      <p class="userBirthday col-6 my-2">
        {{ user?.birthday }}
      </p>
      <p class="col-lg-6 pl-5 my-2">Email:</p>
      <p class="userEmail col-6 my-2 my-2">{{ user?.email }}</p>
    </div>
    <hr />
    <div id="userInformationFooter" class="text-center py-2">
      <button
        id="changePassword"
        class="mr-2 btn btn-outline-dark"
        (click)="modalService.open('modalChangePassword')"
      >
        Đổi mật khẩu
      </button>
      <button
        id="changeInfo"
        class="ml-2 btn btn-outline-dark"
        (click)="modalService.open('modalChangeInfo')"
      >
        Chỉnh sửa thông tin
      </button>
    </div>
  </div>
</jw-modal>

<!-- Modal change password -->
<jw-modal id="modalChangePassword">
  <div id="myModalChangePassword" class="mx-auto">
    <h5 id="changePasswordHeader" class="col-12 py-2 pl-2">Đổi mật khẩu</h5>
    <hr />
    <form [formGroup]="passwordForm">
      <div id="changePasswordBody">
        <div class="form-group">
          <label>
            Mật khẩu hiện tại:
            <input
              type="password"
              class="form-control"
              id="currentPassword"
              placeholder="Nhập mật khẩu hiện tại"
              formControlName="currentPassword"
            />
          </label>
        </div>
        <div class="form-group">
          <label>
            Mật khẩu mới:
            <input
              type="password"
              class="form-control"
              id="newPassword"
              placeholder="Nhập mật khẩu mới"
              formControlName="newPassword"
            />
          </label>
        </div>
        <div class="form-group">
          <label>
            Xác nhận mật khẩu:
            <input
              type="password"
              class="form-control"
              id="rewritePassWord"
              placeholder="Xác nhận mật khẩu"
              formControlName="rewritePassWord"
            />
          </label>
        </div>
      </div>
      <hr />
      <div id="changePasswordFooter" class="text-center py-2">
        <button
          type="cancel"
          class="mr-2 btn btn-outline-danger"
          id="cancelChangePassword"
          (click)="modalService.close('modalChangePassword')"
          (click)="resetPasswordForm()"
        >
          Huỷ
        </button>
        <button
          type="submit"
          class="ml-2 btn btn-outline-success"
          [disabled]="!passwordForm.valid"
          id="updateChangePassword"
          (click)="onSubmitPassword()"
        >
          Đổi mật khẩu
        </button>
      </div>
    </form>
  </div>
</jw-modal>

<!-- Modal change information -->
<jw-modal id="modalChangeInfo">
  <div id="myModalChangeInfo" class="mx-auto">
    <h3 id="changeInfoHeader" class="col-12 pt-3 pl-3">Thông tin cá nhân</h3>
    <hr />
    
    <form [formGroup]="userForm">
      <div id="changeInfoBody">
        <div class="form-group">
          <label>
            Họ tên:
            <input
              type="text"
              class="form-control"
              id="userNameInfo"
              placeholder="Nhập tên"
              formControlName="userNameInfo"
              autocomplete="off"
            />
          </label>
        </div>
        <div class="form-group">
          <label>
            Số điện thoại:
            <input
              type="tel"
              autocomplete="off"
              class="form-control"
              id="userPhoneNumberInfo"
              placeholder="Nhập số điện thoại"
              formControlName="userPhoneNumberInfo"
            />
          </label>
        </div>
        <div class="form-group">
          <label
            >Ngày sinh:
            <input
              type="date"
              class="form-control"
              id="userBirthdayInfo"
              placeholder="Nhập ngày sinh"
              formControlName="userBirthdayInfo"
            />
          </label>
        </div>
        <div class="form-group">
          <label>
            Email:
            <input
              type="email"
              autocomplete="off"
              class="form-control"
              id="userEmailInfo"
              placeholder="example@abc.com"
              formControlName="userEmailInfo"
            />
          </label>
        </div>
      </div>
      <hr />
      <div id="changeInfoFooter" class="text-center py-2">
        <button
          type="button"
          class="mr-1 btn btn-outline-danger"
          id="cancelUpdateInfo"
          (click)="modalService.close('modalChangeInfo')"
          (click)="resetUserForm()"
        >
          Huỷ
        </button>
        <button
          type="submit"
          class="ml-1 btn btn-outline-success"
          [disabled]="!userForm.dirty"
          [disabled]="!userForm.valid"
          id="updateInfo"
          (click)="onUpdateInfo()"
        >
          Cập nhật
        </button>
      </div>
    </form>
  </div>
</jw-modal>
